<form class="form form--edit" name="editTask">
    <div class="add-task">
        <div class="add-task__group">
            <textarea class="form-field" id="task-text" name="taskText">текст завдання</textarea>
            <div class="form-error-msg"></div>
        </div>
        <div class="d-flex j-end g-10">
            <button class="btn btn--sm btn--gray js_reject-changes" type="button">Відхилити</button>
            <button class="btn btn--sm btn--green js_save-changes" type="button">OK</button>
        </div>
    </div>
</form>
